// Theme overrides go here

// general

.footer,
.bottom {
    background-color: var(--color-base-bg-2);
}

.menu-main ul li > a {
    color: var(--color-base-text);
}

.logo-text a:hover {
    text-decoration: none;
}

.download-button {
    border: 1px solid white;
    color: white !important;
    display: inline-block;
    background: #0d042b;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-decoration: none !important;

    &:hover {
        border: 1px solid white;
        text-decoration: none !important;
        background: #37304F;
    }
}

// home page

.page-home {

    .card-content {
        padding-left: 10px;
    }
}

// aboot page

.page-about {

    .basic-main-row {
        margin-top: 140px;

        @media (max-width: 850px) {
            margin-top: 80px;
        }

        .basic-main-content {
            display: flex;

            @media (max-width: 850px) {
                display: block;
            }

            .heading .heading-image {
                margin: 5px 50px 0 0;
                min-width: 450px;

                @media (max-width: 1000px) {
                    min-width: 350px;
                }

                @media (max-width: 850px) {
                    max-width: 450px;
                    min-width: auto;
                    margin: 0 0 20px 0;
                }
            }
        }
    }
}

// CV page

.page-resume {

    .content {
        margin-top: 120px;

        h2,
        h1#academic {
            border-top: 1px solid var(--color-base-text-2);
            padding-top: 45px;
            margin-top: 50px;

            &#product-design-lead---spotlight-reporting,
            &#natcoll-design-technology-school {
                border-top: none;
                padding-top: 20px;
            }
        }
    }
}

// Contact page

.page-contact {

    .section {
        padding-bottom: 50px !important;
    }

    .content {
        margin-top: 140px;
    }

    #fs-frm {
        margin-bottom: 50px;
    }
}
